.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: open 0.2s forwards;
  }
  
  @keyframes open {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .close-modal {
    display: none;
  }
  
  .confirm-modal {
    width: 100%;
    max-width: 40rem;
    background: #fff;
    border-radius: 3px;
    overflow: hidden;
    font-size: 1.4rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transform: scale(0.7);
    animation: open-modal 0.2s forwards;
    transition: all 0.2s;
    z-index: 999;
  }
  
  @keyframes open-modal {
    to {
      transform: scale(1);
    }
  }
  
  .header {
    background: #222831;
    color: #fff;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1.5rem;
  }
  
  .title {
    font-size: 1.6rem;
    font-weight: 700;
  }
  
  .close {
    background: transparent;
    border: none;
    outline: none;
    font-size: 3rem;
    cursor: pointer;
    color: #fff;
    transition: all 0.2s;
  }
  
  .close:hover {
    color: red;
  }
  
  .content {
    padding: 2rem 1.5rem;
    font-size: 1.6rem;
  }
  
  .buttons {
    background: #eee;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.5rem;
  }
  
  .btn {
    padding: 0.8rem 1rem;
    border: 2px solid #005490;
    border-radius: 5px;
    background: #fff;
    color: #005490;
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 5px;
    cursor: pointer;
    outline: none;
  }
  
  .btn-ok {
    background: #005490;
    color: #fff;
  }
  